
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
POSTGRES_LOCAL_PORT=5432

DATABASE_URL=postgres://username:db_name@database:5432/password
PORT=3000
API_LOCAL_PORT=3000
NODE_ENV='development'

JWT_SECRET=YOUR_SECRET_KEY
ALLOWED_ORIGINS=http://localhost:PORT_FRONT

IGDB_CLIENT_ID=your_twitch_client_id
IGDB_CLIENT_SECRET=your_twitch_client_secret

